@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-zinc-200;
    background: linear-gradient(-45deg, #09090b, #18181b, #27272a, #1a1a1f);
    background-size: 400% 400%;
    animation: gradient-bg 25s ease infinite;
  }
}
